.all-locations {
  padding: 64px 25px 72px;
  font-size: 0;
  overflow: hidden;

  h2 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    color: $footer-gray;
    margin-bottom: 56px;
  }

  .gallery-cities {
    margin: 0;

    .city-item {
      margin: 0;
      display: inline-block;

      img {
        max-width: 264px;
        max-height: 192px;
        margin-bottom: 16px;
      }

      div {

        .city-info {
          float: left;

          h4 {
            margin: 0;
            font-family: $text-font-family;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: $footer-gray;
          }

          p {
            margin: 0;
            opacity: 0.6;
            font-family: $text-font-family;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
            color: $locationColor;
          }
        }

        a {
          float: right;
          border: solid 2px $buttonColor;
          background: none;
          font-family: $montserrat-medium;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          color: $footer-gray;
          padding: 10px 22px;
          transition: linear .5s;
          text-decoration: none;
          margin-right: 0;
        }

        a:hover {
          background-color: $buttonColor;
        }
      }
    }
  }
}

