.get-personalized-offer {
  background-color: $forms-color;
  padding: 79px 85px 55px;

  .get-box {
    max-width: 1128px;

    h3 {
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    .get-personalized-offer-block {

      p {
        margin: 24px 0 0;
        width: 361px;
        height: 48px;
        font-family: $montserrat-medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: $footer-gray;
      }

      button {
        margin-top: 32px;
        width: 168px;
        height: 48px;
        background-color: $buttonColor;
        transition: 0.5s;
        border: 0;
        font-family: $text-font-family;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        color: $footer-gray;
        transition: linear .5s;
      }

      button:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
      }
    }

    .have-call {

      ul {
        margin: 40px 0 0 0;
        float: left;
        padding: 0;

        li {
          margin-bottom: 32px;
          list-style: none;

          a {
            font-family: $montserrat-medium;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: $footer-gray;

            text-decoration: none;
          }
        }
      }

      span {
        margin-left: 14px;
        font-family: $montserrat-medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        color: $footer-gray;
      }

      span.days-work {
        margin-left: 35px;
      }
    }
  }
}
