.flexie-offices {
  padding: 121px 0 95px 0;
  background-color: $forms-color;

  .flex-block {
    //max-width: 1128px;

    .flexie-offices-text {
      margin-top: 0;
      margin-right: 90px;
      height: 360px;
      margin-bottom: 0;

      h3 {
        margin: 0;
        font-family: $text-font-family;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.33;
        color: $footer-gray;
      }

      div.block-text {
        margin-top: 27px;


        p {
          margin: 0;
          font-family: $fontFamilyHeader;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
          color: $footer-gray;
        }

        ul {
          margin: 28px 0 36px;
          font-family: $fontFamilyHeader;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
          color: $footer-gray;
          margin-left: -18px;
        }

        a {
          margin-top: 36px;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
          font-family: $montserrat-medium;
          color: $footer-gray;
          background-color: $forms-color;
          padding: 14px 95px;
          border: solid 2px $buttonColor;
          transition: linear .5s;
          text-decoration: none;
        }

        a:hover {
          background-color: $buttonColor;
        }
      }
    }

    .flexie-offices-img {
      margin: 0;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
