.corporate-corner {
  padding: 121px 0 100px 0;

  h2 {
    display: block;
    margin: 0 auto 121px;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    color: $footer-gray;
    font-family: $text-font-family;
  }

  .corporate-corner-img {
    margin: 0;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .corporate-corner-text {
    margin-left: 90px;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    div.block-text {
      margin-top: 27px;

      p {
        margin: 0;
        font-family: $fontFamilyHeader;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: $footer-gray;
      }

      ul {
        margin: 28px 0 36px;
        font-family: $fontFamilyHeader;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: $footer-gray;
        margin-left: -18px;

      }

      a {

        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        font-family: $montserrat-medium;
        color: $footer-gray;
        background-color: $backgroundHeader;
        border: solid 2px $buttonColor;
        transition: linear .5s;
        text-decoration: none;
        padding: 14px 95px;
      }

      a:hover {
        background-color: $buttonColor;

      }
    }
  }
}
