.workspace-solution {
  width: 100%;
  height: 634px;
  background: url("./img/main/slider.png") no-repeat 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;

  .caption {
    top: 108px;

    h1 {
      margin-top: 25%;
      font-family: $montserrat-light;
      font-size: 52px;
      font-weight: 300;
      line-height: 1.23;
      color: $footer-gray;
      margin-bottom: 0;
    }

    p {
      margin: 40px 0 34px;
      font-family: $montserrat-medium;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.2;
      color: $footer-gray;
    }

    .workspace-solution-search {
      width: 100%;

      form {
        .nice-select {
          padding: 24px;
          border: none;
          border-radius: 0;
          background-color: rgba(255, 255, 255, 0.7);
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          color: $gray;
          line-height: 0;
          margin-left: 5px;
          font-family: $montserrat-medium;
          width: 264px;
          height: 48px;
          float: left;
        }

        .nice-select .option:hover,
        .nice-select .option.focus,
        .nice-select .option.selected.focus {
          background-color: $white;
          width: 264px;
        }

        button.city-search {
          float: left;
          color: $gray;
          background-color: $yellow;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          text-align: center;
          font-family: $text-font-family;
          margin-left: 24px;
          width: 168px;
          height: 48px;
          border: 0;
          transition: linear .5s;
          a{
            text-decoration: none;
            color: $gray;
          }
          a:hover{
            text-decoration: none;
            color: $gray;
          }

        }
        button.city-search:hover{
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -o-transform: scale(1.05);
        }
      }
    }
  }
}



