.contact-us {
  padding: 75px 0 81px;
  bottom: 0;

  h2 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    color: #474a50;
    text-align: center;
    margin-bottom: 65px;
  }

  .contact {
    a {
      text-decoration: none;

      span {
        margin-left: 11px;
        margin-bottom: 13px;
        font-family: $fontFamilyHeader;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.6;
        color: $footer-gray;
      }

      p {
        margin: 0 0 0 47px;
        font-family: $text-font-family;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.33;
        color: #474a50;
      }

      p.one-link {
        margin-bottom: 50px;
      }
    }
  }

  .contact-form {
    form {

      input, textarea {
        width: 455px;
        padding: 10.5px 24px;
        background-color: $forms-color;
        margin-bottom: 22px;
        border: none;
        outline: none;
        font-family: $fontFamilyHeader;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: $locationColor;

      }

      button.submit {
        margin-top: 32px;
        width: 168px;
        height: 55px;
        background-color: $buttonColor;
        transition: 0.5s;
        border: 0;
        font-family: $text-font-family;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        color: $footer-gray;
        float: right;
        margin-right:0;
        transition: linear .5s;
      }

      button.submit:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
      }
    }
  }
}

