$fontFamilyHeader: Montserrat-Regular;
$text-font-family: Montserrat-SemiBold;
$montserrat-light: Montserrat-Light;
$montserrat-medium: Montserrat-Medium;
$montserrat-bold: Monserrat-Bold;
$fontSizeHeader: 16px;


/** COLORS **/
$white: #ffffff;
$darkBlue: #002d4a;
$yellow: #ff8d42;
$grey: #484848;
$black: #000;
$gray: #474a50;
$footer-gray: #474a50;
$forms-color: #f1f1f1;
$locationColor: #aeaeae;
$borderColor: #e3e3df;


$backgroundHeader: $white;
$titleColor: $darkBlue;
$textColor: $grey;
$buttonColor: $yellow;
