.why-new-work {
  margin: 0;
  padding: 67px 0 49px;

  h2 {
    margin: 0;
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    color: $footer-gray;
    text-align: center;

  }

  .detail-new-work {
    margin-top: 58px;

    .background-holder {
      max-width: 552px;
      padding: 60px 70px 61px;
      background-color: $forms-color;
      height: 372px;
      margin-bottom: 25px;

      img {
        display: block;
        margin: 0 auto;
        padding-bottom: 33px;
      }

      h3 {
        font-family: $text-font-family;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.25;
        text-align: center;
        color: $footer-gray;
        margin-bottom: 19px;
      }

      p {
        font-family: $montserrat-medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        color: $footer-gray;
      }
    }
  }
}


