main {

}

.workspace-solution-item {
  margin: 6% 0 48px -70px;


  .main-information {
    width: 92%;
    padding-bottom: 32px;
    border-bottom: 1px solid $borderColor;

    h1 {
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      letter-spacing: normal;
      color: $footer-gray;
    }

    p {
      padding: 12px 0;
      font-family: $text-font-family;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      color: $grey;
      margin: 0 !important;
    }

    .number-team {
      font-family: $montserrat-medium;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      color: $footer-gray;
      border: 1px solid $borderColor;
      padding: 11px 0;
      width: 72px;
      margin-left: -20px;
      margin-right: 0;
      transition: linear .5s;
    }

    .number-team:hover {
      background-color: $yellow;
    }

    button.city-search {
      color: $gray;
      background-color: $yellow;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      font-family: $text-font-family;
      margin-left: 24px;
      width: 168px;
      height: 48px;
      border: 0;
    }
  }

  .results-found {
    margin-top: 32px;
    width: 92%;
    .hover-box{
      -webkit-transition: linear .5s;
      -moz-transition: linear .5s;
      -ms-transition: linear .5s;
      -o-transition: linear .5s;
      transition: linear .5s;
    }

    .hover-box:first-child:hover ~ .hover-box {
      opacity: 0.5;
    }

    .hover-box:nth-child(2):hover ~.hover-box {
      opacity: 0.5;
    }

    .hover-box:nth-child(3):hover ~ .hover-box {
      opacity: 0.5;
    }

    .hover-box:nth-child(4):hover ~ .hover-box {
      opacity: 0.5;
    }

    .hover-box:nth-child(5):hover ~ .hover-box {
      opacity: 0.5;
    }

    .hover-box:last-child:hover ~ .hover-box {
      opacity: 0.5;
    }

    h4 {
      font-family: $text-font-family;
      font-size: 20px;
      font-weight: 600;
      color: $footer-gray;

    }

    .border-box {
      margin-top: 24px;
      border: 1px solid $borderColor;

      .block-slider-img {
        .corporate-slider {

          .slick-arrow {
            padding: 0 60px 0 45px;
            z-index: 1;
            background: none;
            color: white;

            &:before {
              width: 15px;
              height: 27px;
              content: "";
              display: inline-block;
              font-family: none;
              background-image: url("./img/main/prev.svg");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

          .slick-prev {
            left: 0;
          }

          .slick-next {
            right: 0;

            &:before {
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
              transform: rotate(180deg);
            }
          }

          .slick-dots {
            bottom: 25px;

            .slick-active {
              button {
                &:before {
                  font-size: 10px;
                  top: 1px;
                  color: white;
                }
              }
            }

            li button:before {
              font-size: 9px;
              color: white;
            }
          }
        }
      }

      .information-business-center {
        padding: 24px 24px 33px;

        h4 {

          font-family: $text-font-family;
          font-size: 20px;
          font-weight: 600;
          color: $gray;
        }

        p.address {
          font-family: $montserrat-medium;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.33;
          color: #818181;
        }

        a {
          font-family: $montserrat-medium;
          font-size: 12px;
          font-weight: 500;
          line-height: 1.33;
          color: $footer-gray;
          margin-bottom: 17px;
          text-decoration: none;

        }

        h6 {

          font-family: $fontFamilyHeader;
          font-size: 12px;
          font-weight: 300;
          line-height: 1.33;
          color: #818181;
          margin-top: 17px;
        }

        ul {
          margin-left: -40px;

          li {
            padding: 4.5px 0;
            list-style: none;
            font-family: Montserrat;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            color: #474a50;
          }
        }

        ul.price {
          float: right;
        }
      }
    }
  }

  .map {
    #map {
      margin-right: 0;
      max-width: 409px !important;
      height: 744px !important;
    }
  }
}
