header.business-center {
  padding: 0 0 0 6px !important;

  nav {
    max-width: 1250px;
    margin: 0 auto;

    .logo {
      margin-right: 22%;
    }

    ul {
      .nice-select {
        border: none;
        float: none;
        border-radius: 0;
        background: none;

        span.current {
          font-family: $text-font-family;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          text-align: center;
          color: $yellow !important;
        }
      }
    }
  }
}


.contact-business-center {
  max-width: 1224px;
  margin: 7% auto 0;

  .modal .modal-content {
    width: 1068px;
    margin: 150px -130px 0;

    img {
      width: 100%;
    }
  }
}


.slider-business-center {
  margin: 0;

  .slick-arrow {
    padding: 0 60px 0 45px;
    z-index: 1;
    background: none;
    color: white;

    &:before {
      width: 15px;
      height: 27px;
      content: "";
      display: inline-block;
      font-family: none;
      background-image: url("./img/main/prev.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;

    &:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .slick-dots {
    bottom: 25px;

    .slick-active {
      button {
        &:before {
          font-size: 10px;
          top: 1px;
          color: white;
        }
      }
    }

    li button:before {
      font-size: 9px;
      color: white;
    }
  }
}

.contact-block {
  position: fixed;


  h1 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    color: #474a50;
  }

  p {
    margin: 0;
    font-family: $montserrat-light;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #474a50;
    padding-bottom: 15px;
  }

  .contact {
    a {
      text-decoration: none;

      span {
        margin-left: 11px;
        font-family: $montserrat-light;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #474a50;
      }

      span.one-link {
        font-family: $montserrat-light;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.71;
        color: #474a50;
      }


    }
  }

  .contact-form {
    margin-top: 19px;

    form {
      width: 100%;

      input {
        width: 360px;
        padding: 10.5px 24px;
        background-color: $forms-color;
        margin-bottom: 16px;
        border: none;
        outline: none;
        font-family: $fontFamilyHeader;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: $locationColor;

      }

      button.submit {
        width: 360px;
        height: 55px;
        background-color: $buttonColor;
        transition: 0.5s;
        border: 0;
        font-family: $text-font-family;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        color: $footer-gray;
        float: right;
        transition: linear .5s;
      }

      button.submit:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
      }
    }
  }
}


//business-center-list

.business-center-list {
  padding: 32px 0 0 11px;

  p.block-text {
    padding-bottom: 31px;
  }

  .business-center-list-item {

    padding: 23px 0;
    border-top: solid 1px #ececec;

    a.business-center-link {
      text-decoration: none;
      border: none;

      img {
        margin: 0;
        max-width: 264px;
        max-height: 168px;
        transition: linear .5s;

      }

      img:hover {
        opacity: 0.5;
      }
    }

    a.business-center-link:hover {
      background: none;
    }


    h4 {
      font-family: $fontFamilyHeader;
      font-size: 20px;
      font-weight: 600;
      color: #474a50;
      transition: linear .3s;


      span {
        float: right;
        font-family: $fontFamilyHeader;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.2;
        color: #484848;
      }
    }

    h4 > a {
      font-family: $fontFamilyHeader;
      font-size: 20px;
      font-weight: 600;
      color: #474a50;
      transition: linear .3s;
    }

    p {
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #474a50;
    }

    span {
      margin-bottom: 0;
    }

    a.button-link {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      text-align: center;
      font-family: $montserrat-medium;
      color: $footer-gray;
      background-color: $backgroundHeader;
      padding: 12px 17px;
      border: solid 2px $buttonColor;
      transition: linear .5s;
      text-decoration: none;
      float: right;
    }

    a.button-link:hover {
      background-color: $buttonColor;
    }
  }
}


//business-center-search-result

.business-center-search-result {
  padding: 32px 23px 0 11px;

  h4 {
    font-family: $text-font-family;
    font-size: 20px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 24px;
  }

  .border-box {
    border: 1px solid $borderColor;

    img.preview {
      width: 100%;
      height: auto;
    }

    .information-business-center {
      padding: 24px;

      h4 {
        font-family: $montserrat-medium;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        color: #484848;

        span {
          margin-top: 8px;
          float: right;
        }
      }

      p {
        margin: 8px 0;
        font-family: $montserrat-medium;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        color: #484848;
      }

      .address {
        font-family: $montserrat-medium;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        color: #818181;
      }

      h6.prices {
        margin: 16px 0;
        font-family: $fontFamilyHeader;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #484848;

        span {
          float: right;
          font-family: $montserrat-medium;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          color: #484848;
        }
      }

      a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        font-family: $montserrat-medium;
        color: $footer-gray;
        background-color: $backgroundHeader;
        padding: 12px 17px;
        border: solid 2px $buttonColor;
        transition: linear .5s;
        text-decoration: none;
      }

      a:hover {
        background-color: $buttonColor;
      }
    }

  }
}

//features-and-services DONE

.features-and-services {
  padding: 64px 0 62px 11px;

  h3 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    color: #474a50;
    margin-bottom: 56px;
  }

  .icon {
    margin: 0 auto;
    padding: 60px 24px 16px;

    img {
      display: block;
      margin: 0 auto 20px;
    }

    p {
      text-align: center;
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #474a50;
    }
  }
}


//virtual-tour TODO video
.virtual-tour {
  position: relative;
  padding: 56px 0 76px 11px;

  .video-block {
    width: 744px;
    height: 360px;
    background-color: #818181;

    video {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
    }

    .content-video {
      position: absolute;
      top: 18px;
      left: 238px;
      z-index: 1;

      h1 {
        font-family: $text-font-family;
        font-size: 36px;
        font-weight: 600;
        line-height: 1.33;
        color: #ffffff;
      }

      button {
        background: none;
        border: none;
        display: block;
        margin: 34px auto 40px;

      }

      p {
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}


//neighborhood-map TODO map

.neighborhood-map {
  padding: 80px 0 0 0;

  #map_business_center {
    height: 500px;
  }

  h3 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    text-align: center;
    color: #474a50;
  }

  .traffic-information {
    background-color: #f8f8f8;
    padding: 132px 48px 129px 24px;

    p {
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: #474a50;
    }

    .traffic {

      h6 {
        font-family: $text-font-family;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        color: #474a50;
      }

      p {
        font-family: $fontFamilyHeader;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #474a50;
      }
    }
  }
}


//business-center-tenants-say


.business-center-tenants-say {
  padding: 72px 0 78px;

  h3 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    color: #474a50;
    margin-bottom: 72px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto 23px;
  }

  p.business-center-tenants-say-information {
    text-align: center;
    font-family: $montserrat-medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: #484848;
  }

  p.name-information {
    font-family: $montserrat-bold;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    text-align: center;
    color: #484848;
  }
}

footer {
  padding: 80px 27px 0 !important;

  .wrapper-footer {
    max-width: 1250px;
  }
}
