
.corporate-space-slider {
  margin: 0;
  position: relative;

  .img-slider {
    margin: 0;

    .slick-arrow {
      padding: 0 60px 0 45px;
      z-index: 1;
      background: none;
      color: white;

      &:before {
        width: 15px;
        height: 27px;
        content: "";
        display: inline-block;
        font-family: none;
        background-image: url("./img/main/prev.svg");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;

      &:before {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    .slick-dots {
      bottom: 25px;

      .slick-active {
        button {
          &:before {
            font-size: 10px;
            top: 1px;
            color: white;
          }
        }
      }

      li button:before {
        font-size: 9px;
        color: white;
      }
    }
  }
}

.corporate-space {
  max-width: 936px;
  padding: 32px 115px 56px;
  border: 1px solid #e3e3df;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  top: 592px;
  left: 186px;


  h3 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    color: #474a50;
    margin-bottom: 24px;
    text-align: center;
  }

  p {
    font-family: $montserrat-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #474a50;
    padding-bottom: 24px;
  }

  p.select-city {
    padding-top: 23px;
    display: block;
    margin: 0 auto;
    max-width: 552px;
    border-top: 1px solid #e3e3df;
    font-family: $montserrat-bold;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #474a50;
    text-align: left;

  }

  .search-block {
    max-width: 552px;
    margin: 0 auto;

    form {
      .form-group {
        max-width: 264px;

        .nice-select {
          padding: 24px;
          border: 1px solid #e3e3df !important;
          border-radius: 0 !important;
          background-color: rgba(255, 255, 255, 0.7);
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          color: $gray;
          line-height: 0;
          margin-left: 5px;
          font-family: $montserrat-medium;
          height: 48px !important;
          float: left;
        }

        .nice-select .option:hover,
        .nice-select .option.focus,
        .nice-select .option.selected.focus {
          background-color: $white;
          width: 264px;
        }
      }

      button.city-search {
        margin-top: -55px;
        float: right;
        color: $gray;
        background-color: $yellow;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        font-family: $text-font-family;
        margin-left: 24px;
        width: 168px;
        height: 48px;
        border: 0;
        transition: linear .5s;

        a {
          text-decoration: none;
          color: $gray;
        }

        a:hover {
          text-decoration: none;
          color: $gray;
        }
      }

      button.city-search:hover {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
      }
    }
  }
}


.benefits-you-again {
  padding: 252px 0 80px 40px;

  h3 {
    font-family: $text-font-family;
    font-size: 36px;
    font-weight: 600;
    line-height: 1.33;
    color: #474a50;
    text-align: center;
  }


  .icon-information {
    padding: 31px 40px 0;

    img {
      margin: 0 auto 22px;
      display: block;
    }

    h5 {

      font-family: $text-font-family;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #474a50;
      padding-bottom: 16px;
    }

    ul {
      margin-left: -20px;

      li {
        font-family: $montserrat-light;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #474a50;
      }
    }
  }

}


.features-services {

  padding: 64px 0 56px;

  h4 {
    font-family: $text-font-family;
    font-size: 20px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 24px;
  }

  .border-box {
    border: 1px solid $borderColor;

    img.preview {
      width: 100%;
      height: auto;
    }

    .information-business-center {
      padding: 24px;

      h4 {
        font-family: $text-font-family;
        font-size: 20px;
        font-weight: 600;
        color: #474a50;
      }

      ul {
        margin-left: -20px;

        li {
          font-family: $montserrat-light;
          font-size: 16px;
          font-weight: 300;
          line-height: 1.5;
          color: #474a50;
        }
      }

    }
  }
}
