@import "variables";
@import './node_modules/normalize.css/normalize.css';
@import "_section-workspace-solution";
@import "_section-corporate-corner";
@import "_section-flexie-offices-block";
@import "section-hot-desk";
@import "_section-personalized-offer";
@import "corporate-corner-next";
@import "section-all-location";
@import "_why-new-work";
@import "section-contact-us";
@import "workspace-solution-item";
@import "businnes-center";
@import "corporate-space";

header, main, footer, section, div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
}


body {
  margin: 0;
  font-family: $text-font-family !important;
}

header {

  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: $backgroundHeader;
  top: 0;
  left: 0;


  nav {
    display: block;
    margin: 0 auto;

    .logo {
      margin-right: 320px;

      svg {
        path {
          -webkit-transition: linear .5s;
          -moz-transition: linear .5s;
          -ms-transition: linear .5s;
          -o-transition: linear .5s;
          transition: linear .5s;
        }
      }
    }

    .logo:hover {
      cursor: pointer;

      svg {
        path {
          fill: $yellow;
        }
      }
    }

    ul {
      margin-top: 15px;
      float: right;

      li {
        font-size: 16px;
        padding: 0;
        margin: 8px 12px;
        line-height: 1;
        text-align: center;
        list-style: none;

        .dropdown-menu {
          margin-top: -20px;

          a {
            font-size: 12px;
            padding-top: 5px;
            padding-bottom: 5px;
          }

          a.dropdown-item.country.disabled {
            color: darkgray;
            padding-left: 10px;
            font-weight: 700;
          }

          a.dropdown-item.light-item {
            font-weight: 100 !important;
            color: $footer-gray;

          }

          a.dropdown-item.light-item:hover {
            background-color: $forms-color;
          }


        }
      }

      .nice-select {
        border: none;
        float: none;
        border-radius: 0;
        background: none;

        span.current {
          font-family: $text-font-family;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.5;
          text-align: center;
          color: $yellow !important;
        }
      }

      .nice-select:after {
        border-bottom: 2px solid $yellow;
        border-right: 2px solid $yellow;
      }


      a.nav-link {
        color: $footer-gray !important;
        -webkit-transition: linear .5s;
        -moz-transition: linear .5s;
        -ms-transition: linear .5s;
        -o-transition: linear .5s;
        transition: linear .5s;

        svg {
          width: 5%;

          path {
            -webkit-transition: linear .5s;
            -moz-transition: linear .5s;
            -ms-transition: linear .5s;
            -o-transition: linear .5s;
            transition: linear .5s;
          }
        }
      }

      svg:hover {
        path {
          fill: $yellow !important;
        }
      }
    }

    a.nav-link:hover {
      color: $yellow !important;
    }

    #language-select select {
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
      color: $footer-gray;
      background: none;
      border: none;
    }

    button {
      width: 95px;
      height: 38px;
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.05);
      background-color: $footer-gray;
      color: $backgroundHeader;
      border: 0;
      margin: 0 0 0 5px;
      transition: linear .5s;
    }

    button:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -o-transform: scale(1.05);
    }
  }
}


.dropdown-toggle::after {
  content: none;
}

main {
  margin: 0;

  .block-text-adaptation {
    display: none;
  }

  .content-wrapper {
    max-width: 95%;
    display: block;
    margin: 0 auto;
  }

  .flex-block,
  .corner-box {
    max-width: 85%;
    margin: 0 auto;
  }
}

footer {
  width: 100%;
  height: 325px;
  margin: 0;
  padding: 80px 0 0;
  background-color: $footer-gray;

  .wrapper-footer {
    display: block;
    margin: 0 auto;

    .footer-logo {
      svg {
        margin-bottom: 12px;

        path {
          -webkit-transition: linear .5s;
          -moz-transition: linear .5s;
          -ms-transition: linear .5s;
          -o-transition: linear .5s;
          transition: linear .5s;
        }
      }

      svg:hover {
        cursor: pointer;

        path {
          fill: $yellow !important;
        }
      }

      p {
        margin: 0;
        font-family: $fontFamilyHeader;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
        color: $white;
        -webkit-transition: linear .5s;
        -moz-transition: linear .5s;
        -ms-transition: linear .5s;
        -o-transition: linear .5s;
        transition: linear .5s;
      }

      p:hover {
        cursor: pointer;
        color: $yellow;
      }
    }

    .links-footer {

      ul {
        li {
          list-style: none;
          margin-bottom: 24px;

          a {
            font-family: $fontFamilyHeader;
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
            color: $white;
            text-decoration: none;
            -webkit-transition: linear .5s;
            -moz-transition: linear .5s;
            -ms-transition: linear .5s;
            -o-transition: linear .5s;
            transition: linear .5s;
          }

          a:hover {
            color: $yellow;
          }
        }
      }
    }

    .social-networks {
      margin-left: 11px;
      float: right;

      a {
        margin-left: 16px;
        text-decoration: none;

        svg {
          path {
            -webkit-transition: linear .5s;
            -moz-transition: linear .5s;
            -ms-transition: linear .5s;
            -o-transition: linear .5s;
            transition: linear .5s;
          }

          g {
            -webkit-transition: linear .5s;
            -moz-transition: linear .5s;
            -ms-transition: linear .5s;
            -o-transition: linear .5s;
            transition: linear .5s;
          }
        }

        svg:hover {
          path {
            fill: $yellow !important;
          }

          g {
            fill: $yellow !important;
          }
        }
      }

      form {
        .form-group {
          .nice-select.form-control {
            border: 0;
            border-radius: 0;
            text-align: center;
            background: none;
            border: none;
            width: 60px;
            margin-left: 110px;
            margin-top: 8px;
            font-family: $fontFamilyHeader;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.33;
            color: $white;
          }
        }
      }
    }
  }
}

footer .social-networks form .form-group .nice-select.form-control {
  -webkit-transition: linear .5s;
  -moz-transition: linear .5s;
  -ms-transition: linear .5s;
  -o-transition: linear .5s;
  transition: linear .5s;
}

footer .social-networks form .form-group .nice-select.form-control:hover {
  color: $yellow !important;
}

.nice-select .option.focus,
.nice-select .option.selected.focus,
.nice-select .option:hover {
  background-color: #f6f6f6;
  color: #474a50;
}


.slider-section {

  .slick-arrow {
    padding: 0 60px 0 45px;
    z-index: 1;
    background: none;
    color: white;

    &:before {
      width: 15px;
      height: 27px;
      content: "";
      display: inline-block;
      font-family: none;
      background-image: url("./img/main/prev.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;

    &:before {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }

  .slick-dots {
    bottom: 25px;

    .slick-active {
      button {
        &:before {
          font-size: 10px;
          top: 1px;
          color: white;
        }
      }
    }

    li button:before {
      font-size: 9px;
      color: white;
    }
  }
}

@media (min-width: 1801px) and (max-width: 1900px) {
  nav {
    max-width: 1224px;
  }
  header nav .logo {
    margin-right: 291px;
  }
  main .content-wrapper {
    max-width: 1068px !important;
  }
  .flexie-offices {

    .flex-block {
      max-width: 1068px;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 1068px;
      margin: 0 auto;
    }
  }
  footer .wrapper-footer {
    max-width: 1190px;
  }
}

@media (min-width: 1701px) and (max-width: 1800px) {
  nav {
    max-width: 1224px;
  }
  header nav .logo {
    margin-right: 291px;
  }
  main .content-wrapper {
    max-width: 1068px !important;
  }
  .flexie-offices {

    .flex-block {
      max-width: 1068px;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 1068px;
      margin: 0 auto;
    }
  }
  footer .wrapper-footer {
    max-width: 1190px;
  }
}

@media (min-width: 1601px) and (max-width: 1700px) {
  nav {
    max-width: 1224px;
  }
  header nav .logo {
    margin-right: 291px;
  }
  main .content-wrapper {
    max-width: 1068px !important;
  }
  .flexie-offices {

    .flex-block {
      max-width: 1068px;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 1068px;
      margin: 0 auto;
    }
  }
  footer .wrapper-footer {
    max-width: 1190px;
  }
}

@media (min-width: 1501px) and (max-width: 1600px) {
  nav {
    max-width: 1224px;
  }
  header nav .logo {
    margin-right: 291px;
  }
  main .content-wrapper {
    max-width: 1068px !important;
  }
  .flexie-offices {

    .flex-block {
      max-width: 1068px;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 1068px;
      margin: 0 auto;
    }
  }
  footer .wrapper-footer {
    max-width: 1190px;
  }
}

@media (min-width: 1401px) and (max-width: 1500px) {
  nav {
    max-width: 1224px;
  }
  header nav .logo {
    margin-right: 291px;
  }
  main .content-wrapper {
    max-width: 1068px !important;
  }
  .flexie-offices {

    .flex-block {
      max-width: 1068px;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 1068px;
      margin: 0 auto;
    }
  }
  footer .wrapper-footer {
    max-width: 1190px;
  }
}


@media (min-width: 1300px) and (max-width: 1400px) {
  .workspace-solution .caption {
    margin-left: -37px;
  }
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 380px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 40px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 50px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 90%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 460px;
        }

        button.submit {
          margin-right: -25px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

//DONE

@media (min-width: 1251px) and (max-width: 1299px) {
  .workspace-solution .caption {
    margin-left: -37px;
  }
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 380px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 36px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 50px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 90%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 460px;
        }

        button.submit {
          margin-right: -25px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1250px) {
  .workspace-solution .caption {
    margin-left: -20px;
  }
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 336px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 34px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 93%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 460px;
        }

        button.submit {
          margin-right: -39px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1151px) and (max-width: 1199px) {
  .workspace-solution .caption {
    margin-left: -76px;
  }
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 290px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 34px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 93%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 390px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1101px) and (max-width: 1150px) {
  .workspace-solution .caption {
    margin-left: -52px;
  }
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 240px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 32px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 93%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 390px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1051px) and (max-width: 1100px) {
  .workspace-solution .caption {
    margin-left: -23px;
  }
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 183px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 30px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 93%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 390px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 992px) and (max-width: 1050px) {
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 129px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 28px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 90%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 360px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 950px) and (max-width: 991px) {
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 100px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }

  .workspace-solution .caption {
    margin-left: -92px;
  }
  .corporate-corner h2 {
    font-size: 25px !important;
  }
  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 10px;
    padding: 14px 83px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 28px !important;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 94px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 90%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 300px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 900px) and (max-width: 949px) {
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 100px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }

  .workspace-solution .caption {
    margin-left: -69px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 26px;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 90%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 300px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 850px) and (max-width: 899px) {
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 100px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }

  .workspace-solution .caption {
    margin-left: -69px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 25px;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 90%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 300px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 800px) and (max-width: 849px) {
  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 100px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }

  .workspace-solution .caption {
    margin-left: -25px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 24px;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -60px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }

  main .content-wrapper {
    max-width: 90%;
  }
  footer .wrapper-footer {
    max-width: 90%;
  }
  .get-personalized-offer {
    padding: 79px 90px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 300px;
        }

        button.submit {
          margin-right: -22px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 799px) {
  .why-new-work .detail-new-work .background-holder {
    padding: 60px 46px 61px;
  }

  .all-locations .gallery-cities .city-item img {
    max-width: 98%;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header {
    nav {
      .logo {
        margin-right: 100px;
      }

      ul {
        li {
          font-size: 16px;
          padding: 0;
          margin: 8px 5px;

          form {
            display: block;
            width: 10%;
            margin: 0 auto;
          }
        }


      }
    }
  }

  .workspace-solution .caption {
    margin-left: -5px;
  }


  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }

  .corporate-corner .corporate-corner-text div.block-text,
  .flexie-offices .flex-block .flexie-offices-text div.block-text,
  .hot-desk .hot-desk-text div.block-text {
    margin-top: 13px;
  }

  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 12px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 12px;
    margin: 7px 0 0 -18px;
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin-top: 20px;
    width: 242px;
  }

  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-right: 3px;
  }


  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 22px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 23px;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 12px;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer ul li a {
      font-size: 14px;
      margin-left: -61px;
    }

    .social-networks {
      width: 190px;

      a {
        margin-left: 12px;
      }
    }
  }


  .get-personalized-offer {
    padding: 79px 56px 81px;

    .get-box {
      max-width: 100%;
      margin-left: 0;

    }
  }
  main .content-wrapper {
    max-width: 90%;
  }

  .contact-us {
    margin: 0;

    .contact-form {
      form {

        input, textarea {
          width: 273px;
        }

        button.submit {
          margin-right: -12px;
        }
      }
    }
  }
  .contact-us .contact a span,
  .contact-us .contact a p {
    font-size: 15px;
  }
  footer .footer-logo {
    margin-left: -40px;
  }
  footer .wrapper-footer {
    max-width: 95%;
  }
  .all-locations .gallery-cities .city-item img {

    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  .flexie-offices {

    .flex-block {
      max-width: 90%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 90%;
      margin: 0 auto;
    }
  }
}

/*mobile adaptation*/

@media (min-width: 700px) and (max-width: 767px) {
  .block-text-adaptation {
    display: block !important;
  }
  header
  nav {
    max-width: 1224px;
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  .workspace-solution .caption {
    margin-top: 40%;
    margin-left: -50px;

    h1 {
      font-size: 45px;
    }
  }
  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }
  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    display: block;
    margin: 0 20%;
    padding: 15px 50px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 33px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 33px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer {
      display: block;
      margin: 0 auto;

      ul li a {
        font-size: 14px;
        margin-left: -50px;
      }
    }

    .social-networks {
      width: 100%;

      a {
        margin: 0 5px 0 0;
        float: left;
      }

      form {
        float: left;
        margin-top: -8px;
      }
    }

  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }

  .get-personalized-offer .get-box {
    max-width: 100%;
    margin-left: 0;

  }

  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 90px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }

  .contact {
    margin-left: 10%;
    margin-bottom: 50px;
  }
  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 48%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }

  .all-locations .gallery-cities .city-item img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  .flexie-offices {

    .flex-block {
      max-width: 95%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 95%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 650px) and (max-width: 699px) {
  .flexie-offices {

    .flex-block {
      max-width: 95%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 95%;
      margin: 0 auto;
    }
  }
  .block-text-adaptation {
    display: block !important;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: 9px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  .workspace-solution .caption {
    margin-top: 50%;
    margin-left: -20px;

    h1 {
      font-size: 35px;
    }
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 135px;
  }
  .workspace-solution .caption .workspace-solution-search form .nice-select {
    width: 241px;
  }

  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }
  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    display: block;
    margin: 0 20%;
    padding: 15px 50px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 33px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 33px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer {
      display: block;
      margin: 0 auto;

      ul li a {
        font-size: 14px;
        margin-left: -50px;
      }
    }

    .social-networks {
      width: 100%;

      a {
        margin: 0 5px 0 0;
        float: left;
      }

      form {
        float: left;
        margin-top: -8px;
      }
    }

  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }


  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 96px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }

  .contact {
    margin-left: 10%;
    margin-bottom: 50px;
  }
  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 48%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }

  .all-locations .gallery-cities .city-item img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
}

@media (min-width: 600px) and (max-width: 649px) {
  .block-text-adaptation {
    display: block !important;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 144px;
  }
  header nav ul li {
    text-align: left;
  }
  .workspace-solution .caption {
    margin-top: 50%;
    margin-left: 3px;

    h1 {
      font-size: 35px;
    }
  }

  .workspace-solution .caption .workspace-solution-search form .nice-select {
    width: 241px;
  }

  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }
  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    display: block;
    margin: 0 20%;
    padding: 15px 50px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 33px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 33px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer {
      display: block;
      margin: 0 auto;

      ul li a {
        font-size: 14px;
        margin-left: -50px;
      }
    }

    .social-networks {
      width: 100%;

      a {
        margin: 0 5px 0 0;
        float: left;
      }

      form {
        float: left;
        margin-top: -8px;
      }
    }

  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }

  .flexie-offices {

    .flex-block {
      max-width: 95%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 95%;
      margin: 0 auto;
    }
  }

  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 81px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 60%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }
  .all-locations .gallery-cities .city-item img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
  }

  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
}

@media (min-width: 550px) and (max-width: 599px) {
  .block-text-adaptation {
    display: block !important;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  .workspace-solution .caption {
    margin-top: 50%;
    margin-left: 14px;

    h1 {
      font-size: 30px;
    }
  }

  .workspace-solution .caption .workspace-solution-search form .nice-select {
    width: 200px;
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 130px;
  }
  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }
  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    display: block;
    margin: 0 20%;
    padding: 15px 50px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 30px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 30px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer {
      display: block;
      margin: 0 auto;

      ul li a {
        font-size: 14px;
        margin-left: -50px;
      }
    }

    .social-networks {
      width: 100%;

      a {
        margin: 0 5px 0 0;
        float: left;
      }

      form {
        float: left;
        margin-top: -8px;
      }
    }

  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }


  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 70px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 70%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }

  .all-locations .gallery-cities .city-item img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  .flexie-offices {

    .flex-block {
      max-width: 98%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 95%;
      margin: 0 auto;
    }
  }
  .contact-us .contact-form form button.submit {
    margin: 0;
  }
}

@media (min-width: 500px) and (max-width: 549px) {

  .block-text-adaptation {
    display: block !important;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }

  header nav ul li {
    text-align: left;
  }

  header nav .logo {
    margin-right: 260px;
  }

  .workspace-solution .caption {
    margin-top: 50%;
    margin-left: 16px;

    h1 {
      font-size: 30px;
    }
  }

  .workspace-solution .caption .workspace-solution-search form .nice-select {
    width: 200px;
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 125px;
  }
  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }
  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin: 0 auto;
    display: block;
    padding: 15px 40px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 30px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 29px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer {
      display: block;
      margin: 0 auto;

      ul li a {
        font-size: 14px;
        margin-left: -50px;
      }
    }

    .social-networks {
      width: 100%;

      a {
        margin: 0 5px 0 0;
        float: left;
      }

      form {
        float: left;
        margin-top: -8px;
      }
    }

  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }


  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 49px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 70%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }

  .all-locations .gallery-cities .city-item img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 16px;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  .contact-us .contact-form form button.submit {
    margin: 0;
  }
  .flexie-offices {

    .flex-block {
      max-width: 98%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 95%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 450px) and (max-width: 499px) {
  .block-text-adaptation {
    display: block !important;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header nav .logo {
    margin-right: 220px;
  }
  .workspace-solution .caption {
    margin-top: 60%;
    margin-left: 14px;

    h1 {
      font-size: 25px;
    }
  }
  .workspace-solution .caption p {
    font-size: 18px;
  }
  .workspace-solution .caption .workspace-solution-search form .nice-select {
    width: 185px;
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 100px;
  }
  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }
  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin: 0 auto;
    display: block;
    padding: 15px 40px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 25px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 25px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer {
      display: block;
      margin: 0 auto;

      ul li a {
        font-size: 14px;
        margin-left: -50px;
      }
    }

    .social-networks {
      width: 100%;

      a {
        margin: 0 5px 0 0;
        float: left;
      }

      form {
        float: left;
        margin-top: -8px;
      }
    }

  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }

  .flexie-offices {
    max-width: 100%;

    .flex-block {
      margin-left: 0;
    }
  }

  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 30px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }
  .corporate-corner-next {
    .corner-box {
      margin-left: 0;
    }
  }
  .contact {
    margin-bottom: 50px;
  }
  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 75%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }

  .all-locations {
    padding: 64px 15px;

    .gallery-cities .city-item img {
      max-width: 100%;
      width: 100%;
      margin-bottom: 16px;

    }
  }
  .why-new-work .detail-new-work .background-holder {
    padding: 60px 15px 61px;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  .contact-us .contact-form form button.submit {
    margin: 0;
  }

  .flexie-offices {

    .flex-block {
      max-width: 97%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 97%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 400px) and (max-width: 449px) {
  .block-text-adaptation {
    display: block !important;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header nav .logo {
    margin-right: 170px;
  }
  .workspace-solution .caption {
    margin-top: 60%;
    margin-left: 17px;

    h1 {
      font-size: 25px;
    }
  }
  .workspace-solution .caption p {
    font-size: 15px;
  }
  .workspace-solution .caption .workspace-solution-search form .nice-select {
    width: 80%;
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 55%;
    margin-left: 7px;
    margin-top: 20px;
  }
  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }


  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 14px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 14px;
    //margin: 7px 0 0 -18px;
  }

  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  p {
    font-size: 14px;
  }

  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    margin: 0 auto;
    display: block;
    padding: 15px 40px;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 18px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 18px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 40px 0;

    .links-footer {
      display: block;
      margin: 0 auto;

      ul li a {
        font-size: 12px;
        margin-left: -50px;
      }
    }

    .social-networks {
      width: 100%;

      a {
        margin: 0 5px 0 0;
        float: left;
      }

      form {
        float: left;
        margin-top: -8px;
      }
    }

  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }

  .flexie-offices {
    max-width: 100%;

    .flex-block {
      margin-left: 0;
    }
  }

  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 30px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;
    font-size: 14px;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }
  .corporate-corner-next {
    .corner-box {
      margin-left: 0;
    }
  }
  .contact {
    margin-bottom: 50px;
  }
  .contact-us .contact a p,
  .contact-us .contact a span {
    font-size: 14px;
  }

  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 80%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }
  .why-new-work .detail-new-work .background-holder {
    padding: 60px 15px 61px;
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 14px;
  }

  .all-locations {
    padding: 64px 15px;

    .gallery-cities .city-item img {
      max-width: 100%;
      width: 100%;
      margin-bottom: 16px;
    }
  }
  .contact-us .contact-form form button.submit {
    width: 135px;
    margin: 0;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  .flexie-offices {

    .flex-block {
      max-width: 95%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 95%;
      margin: 0 auto;
    }
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
}

@media (min-width: 350px) and (max-width: 399px) {
  .flex-block,
  .corner-box {
    max-width: 55%;
    margin: 0 auto;
  }
  .block-text-adaptation {
    display: block !important;
  }
  nav {
    display: block;
    margin: 0 auto;


    ul {
      margin-top: 15px;
      float: right;

    }

    .nice-select {
      width: 44%;
      margin-left: -17px;
    }
  }
  header nav ul li {
    text-align: left;
  }
  header nav .logo {
    margin-right: 120px;
  }
  .workspace-solution .caption {
    margin-top: 70%;
    margin-left: 15px;

    h1 {
      font-size: 25px;
    }
  }

  .workspace-solution .caption p {
    font-size: 15px;
  }
  .workspace-solution .caption .workspace-solution-search form.nice-select {
    width: 100%;
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 163px;
    margin-left: 7px;
    margin-top: 20px;
  }
  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }


  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 14px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 14px;
  }

  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  p {
    font-size: 14px;
  }

  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    padding: 17px 20px;
    display: block;
    margin: 0;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 18px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 18px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 25px 0;

    .wrapper-footer {

      .links-footer {
        display: block;
        margin: 0 auto;

        ul li a {
          font-size: 12px;
          margin-left: -50px;
        }
      }

      .social-networks {

        a {
          margin: 0 5px 0 0;
          float: left;
        }

        form {
          float: right;
          margin-top: -41px;
        }
      }
    }
  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }

  .flexie-offices {
    max-width: 100%;

    .flex-block {
      margin-left: 0;
    }
  }

  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 10px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;
    font-size: 14px;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }
  .corporate-corner-next {
    .corner-box {
      margin-left: 0;
    }
  }
  .contact {

    margin-bottom: 50px;
  }
  .contact-us .contact a p,
  .contact-us .contact a span {
    font-size: 14px;
  }

  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  footer .footer-logo {
    width: 100%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 14px;
  }

  .all-locations {
    padding: 64px 15px;

    .gallery-cities .city-item img {
      max-width: 100%;
      width: 100%;
      margin-bottom: 16px;

    }

    .gallery-cities .city-item div a {
      padding: 10px 16px;
    }
  }
  .why-new-work .detail-new-work .background-holder {
    padding: 60px 15px 61px;
  }
  .contact-us .contact-form form button.submit {
    width: 135px;
    margin: 0;
  }
  .flexie-offices {

    .flex-block {
      max-width: 98%;
      margin: 0 auto;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 98%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 300px) and (max-width: 349px) {
  .block-text-adaptation {
    display: block !important;
  }

  header {
    padding: 0;

    nav {
      display: block;
      margin: 0 auto;


      ul {
        margin-top: 15px;
        float: right;

      }

      .nice-select {
        width: 44%;
        margin-left: -17px;
      }
    }
  }


  header nav ul li {
    text-align: left;
  }
  header nav .logo {
    margin-right: 95px;
  }
  .workspace-solution .caption {
    margin-top: 70%;

    h1 {
      font-size: 20px;
    }
  }
  .workspace-solution .caption p {
    font-size: 14px;
  }
  .workspace-solution .caption .workspace-solution-search form .nice-select {
    width: 95%;
  }
  .workspace-solution .caption .workspace-solution-search form button.city-search {
    width: 95%;
    margin-left: 7px;
    margin-top: 20px;
  }
  .corporate-corner .corporate-corner-text h3,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .corporate-corner .corporate-corner-text div.block-text p {
    display: none;
  }


  .corporate-corner .corporate-corner-text div.block-text p,
  .flexie-offices .flex-block .flexie-offices-text div.block-text p,
  .hot-desk .hot-desk-text div.block-text p,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text p {
    font-size: 14px;
  }
  .corporate-corner .corporate-corner-text div.block-text ul,
  .flexie-offices .flex-block .flexie-offices-text div.block-text ul,
  .hot-desk .hot-desk-text div.block-text ul,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text ul {
    font-size: 14px;

  }

  .block-text-adaptation {
    text-align: center;

    h3 {
      margin: 0;
      font-family: $text-font-family;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.33;
      color: $footer-gray;
    }

    p {
      margin: 27px 0 30px;
      font-family: $fontFamilyHeader;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.5;
      color: $footer-gray;
    }
  }
  p {
    font-size: 12px;
  }

  .corporate-corner .corporate-corner-text div.block-text a,
  .flexie-offices .flex-block .flexie-offices-text div.block-text a,
  .hot-desk .hot-desk-text div.block-text a,
  .corporate-corner-next .corner-box .corporate-corner-next-text div.block-text a {
    padding: 17px 20px;
    display: block;
    margin: 0;
  }

  .corporate-corner .corporate-corner-text,
  .hot-desk .hot-desk-text {
    margin-left: 5px;
  }


  .flexie-offices .flex-block .flexie-offices-text,
  .corporate-corner-next .corner-box .corporate-corner-next-text {
    margin-bottom: 40px;
    margin-right: 3px;
  }
  .why-new-work .detail-new-work .background-holder h3 {
    font-size: 18px;
  }
  .corporate-corner .corporate-corner-text h3,
  .corporate-corner h2,
  .flexie-offices .flex-block .flexie-offices-text h3,
  .hot-desk .hot-desk-text h3,
  .get-personalized-offer .get-box h3,
  .corporate-corner-next .corner-box .corporate-corner-next-text h3,
  .all-locations h2,
  .why-new-work h2,
  .contact-us h2 {
    font-size: 17px;
    text-align: center;
  }

  .adaptation-mobile-one-block {
    order: 1;
  }
  .adaptation-mobile-two-block {
    order: 2;
  }
  .logo-phone-adaptation {
    order: 3;
  }

  footer {
    height: auto;
    padding: 80px 25px 0;

    .wrapper-footer {

      .links-footer {
        display: block;
        margin: 0 auto;

        ul li a {
          font-size: 12px;
          margin-left: -50px;
        }
      }

      .social-networks {
        width: 100%;

        a {
          margin: 0 5px 0 0;
          float: left;
        }

        form {
          float: right;
          margin-top: -41px;
        }
      }
    }
  }
  footer .social-networks form .form-group .nice-select.form-control {
    margin-left: 0;
  }
  .corporate-corner-next .corner-box .corporate-corner-next-text, .flexie-offices .flex-block .flexie-offices-text {
    height: auto;
  }
  .flexie-offices {


    .flex-block {
      max-width: 95%;
    }
  }

  .corporate-corner-next {
    .corner-box {
      max-width: 95%;
    }
  }

  .get-personalized-offer .get-box {
    margin-left: 0;
  }
  .have-call {
    margin-top: 30px;

  }
  .get-personalized-offer {
    padding: 79px 10px 81px;
    text-align: center;
  }
  .get-personalized-offer .get-box .get-personalized-offer-block p {
    width: 100%;
    font-size: 14px;

  }
  .get-personalized-offer .get-box .have-call ul {
    float: none;
  }

  .contact {
    margin-bottom: 50px;
  }
  .contact-us .contact a p,
  .contact-us .contact a span {
    font-size: 12px;
  }

  .contact-us .contact-form form input,
  .contact-us .contact-form form textarea {
    width: 100%;
  }
  footer .footer-logo {
    width: 110%;
    float: left;

    .one-item {
      margin-top: 15px;
      float: left;
    }
  }
  .why-new-work .detail-new-work .background-holder p {
    font-size: 14px;
  }

  .all-locations {
    padding: 64px 15px;

    .gallery-cities .city-item img {
      max-width: 100%;
      width: 100%;
      margin-bottom: 16px;

    }

    .gallery-cities .city-item div a {
      padding: 10px 18px;
    }
  }


  .why-new-work .detail-new-work .background-holder {
    padding: 60px 15px 61px;
  }
  .contact-us .contact-form form button.submit {
    width: 135px;
    margin: 0;
  }
}



